<nav>
    <div class="w-full h-[30px] bg-orange-400 flex items-center justify-center">
        <p class="font-medium text-white">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="#" class="underline">StoreNow</a></p>
    </div>

    <div class="w-full h-[60px] flex border-b-2 border-gray-300">
        <div class="w-[60%] h-full flex items-center justify-around">
            <div class="flex space-x-3 items-center">
                <h1 class="no-underline font-bold text-xl">Electronics</h1>
                <ul class="flex">
                    <li><a class="px-3 py-2 font-medium hover:underline" href="../../pages/home-page/home-page.html">Home</a></li>
                    <li><a class="px-3 py-2 font-medium hover:underline" href="../../pages/contact-page/contact-page.html">Contact</a></li>
                    <li><a class="px-3 py-2 font-medium hover:underline" href="../../pages/about-page/about-page.html">About</a></li>
                    <li><a class="px-3 py-2 font-medium hover:underline" href="../../pages/sign-up-page/sign-up-page.html">Sign up</a></li>
                </ul>
                <button type="button" class="px-3 py-2 bg-red-500 font-medium text-white rounded-md hover:bg-red-600 cursor-pointer">Store</button>
            </div>
        </div>
        <div class="w-[40%] h-full flex items-center justify-around px-5">
            <div class="flex items-center space-x-3">
                <input type="text" placeholder="What are you looking for?" class="bg-gray-300 px-3 py-2 rounded-md">
                <img src="../../public/svg/search-icon.svg" alt="search">
                <button type="button" class="mr-3 px-3 py-2 bg-red-500 font-medium text-white rounded-md hover:bg-red-600 cursor-pointer">Sign in</button>
            </div>
        </div>
    </div>
</nav>